@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(218, 23%, 16%);
    font-family: "Manrope", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card{
    background-color:  hsl(217, 19%, 24%);
    max-width: 360px;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 13px;
    position: relative;
}
.title{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    margin-bottom: 16px;
}
.advice{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.divder{
    width: 95%;
    margin: 0 auto;
}
.btn{
    background-color: hsl(150, 100%, 66%);
    border: 0;
    padding: 14px 16px;
    position: absolute;
    bottom: -35px;
    transform: translateX(-200px);
    border-radius: 50%;
    transition: button .5s ease;
    cursor: pointer;
}
.btn:hover{
     box-shadow: 0 0 30px  hsl(193, 38%, 86%);
}
.btn img:hover{
    transform: rotate(135deg);
}

@media (max-width:400px){
    .card{
        margin: 0 15px;
    }
}